.parent {
    height: 10vh;
    width: 50vw;

    /* add solution here */
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.child {
    background-color: darkolivegreen;
    color: white;
    padding: 1rem;
}
